#top-bar {
  padding: 20px 0;
  border-bottom: 1px solid #CDCDCD;
}

ul.item-inline li {
  display: inline;
  margin-right: 35px;
}

ul.item-inline li button {
  background: none;
  color: #6c757d;
  border-width: 0;
  padding: 0;
}

@media (max-width: 767px) {
  #top-bar {
    padding: 10px 0;
  }

  #top-bar ul li {
    margin-right: 20px;
  }
}