* {
  box-sizing: border-box;
}

i {
  color: #515151;
  font-size: 20px;
  margin: 0 2px;
}

a {
  color: #6c757d;
  text-decoration: none;
}

.active {
  position: relative;
}

.active a {
  color: #5D5FEF;
  font-weight: 500;
}

.btn-active {
  background: skyblue;
  padding: 3px 7px;
  border-radius: 4px;
}

.active a::after,
.active button::after {
  content: '';
  bottom: -15px;
  left: 30%;
  width: 20px;
  height: 2px;
  background-color: #5D5FEF;
  position: absolute;
}

#top-bar {
  padding: 20px 0;
  border-bottom: 1px solid #CDCDCD;
}

ul.item-inline li {
  display: inline-block;
  margin-right: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.item-inline li button {
  background: none;
  color: #6c757d;
  border-width: 0;
  padding: 0;
}



@media (max-width: 767px) {
  #top-bar {
    padding: 10px 0;
  }

  #top-bar ul li {
    margin-right: 20px;
  }

  .-order-1 {
    order: -1;
  }
}

@media (max-width: 991px) {
  .-order-1 {
    order: -1;
    margin-bottom: 15px;
  }
}